spring.application.name=portifolio
spring.datasource.url=jdbc:postgresql://localhost:5432/portifolio
spring.datasource.username=postgres
spring.datasource.password=123
spring.datasource.driver-class-name=org.postgresql.Driver
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect
spring.jpa.properties.hibernate.format_sql=true
spring.jpa.hibernate.ddl-auto=update

spring.devtools.livereload.enabled=true
server.port=8080
discord.channel=
discord.user=
discord.token=