
<main class="flex flex-col gap-2">
    Login status: {{ loggedIn }}
    @if (loggedIn) {
        <button (click)="doLogout()" class="p-2 border border-neutral-200">Logout</button>
        <a routerLink="/admin/create/project">Create Project</a>
        <a routerLink="/admin/create/skill">Create Skill</a>
    }
    @else {
        <form (ngSubmit)="doLogin()" [formGroup]="loginForm">
            <input formControlName="password"  class="p-2 border border-neutral-200" placeholder="senha" #passwordComponent>
            <button class="p-2 border border-neutral-200">Login</button>
        </form>
        
    }
    
</main>

