<app-admin-page-card>
    <header class="flex w-full gap-4">
        <a routerLink="/admin/skills" class="p-2 border border-slate-200 hover:bg-slate-50 hover:border-slate-300 rounded-lg aspect-square flex items-center">
            <i class="pi pi-angle-left"></i>
        </a>
        <p class="text-2xl">Skills</p>
    </header>
    <form [formGroup]="createForm" class="flex flex-col gap-4">
        <div class="flex flex-col gap-4 input-holder w-full">
            <div class="flex flex-col gap-2 w-full">
                <label for="name-input">Nome</label>
                <input id="name-input" class="p-2 border border-slate-300 rounded-lg" #nameInput formControlName="name">
            </div>
            <div class="flex flex-col gap-2 w-full">
                <label for="description-input">Categoria Habilidade</label>
                <select id="status-input" class="p-2 border border-slate-300 rounded-lg" #categorySelect formControlName="categorySelect">
                    <option value="LANGUAGE">Linguagem</option>
                    <option value="FRAMEWORK">Framework</option>
                    <option value="DATABASE">Banco de Dados</option>
                    <option value="VERSIONING">Versionamento</option>
                    <option value="OPERATIONAL_SYSTEM">Sistema Operacional</option>
                </select>
            </div>
            <div class="flex flex-col gap-2 w-full">
                <label for="status-input">Tipo</label>
                <select id="status-input" class="p-2 border-border-neutral-200 border border-slate-300 rounded-lg" #typeSelect formControlName="typeSelect">
                    <option value="BACKEND">Backend</option>
                    <option value="FRONTEND">Frontend</option>
                </select>
            </div>
            <div class="image-holder flex flex-col gap-4">
                <div class="images flex gap-4">
                    @if (createForm.getRawValue().image) {
                        <img [src]="imagesUrl + createForm.getRawValue().image?.id" class="" style="max-height: 32px; max-width: 32px;">
                    }

                    @if (image) {
                        <img [src]="image.blob" alt="Image" class="" style="max-height: 32px; max-width: 32px;">
                    }
                </div>
                
                <div  class="image-selector p-4 max-w-xs border-border-neutral-200 flex flex-col justify-center items-center border border-slate-300 rounded-lg">
                    <label for="input-image" class="flex-1">Selecione uma Imagem</label>
                    <input (change)="onChangeImages($event)" type="file" name="" accept="image/png, image/gif, image/jpeg, image/jpg, image/svg+xml" id="input-image" class="flex-1 text-center" #imageInput>
                </div>
            </div>
        </div>
        <div class="flex justify-between">
            @if (createForm.value.id) {
                <button type="button" class="relative skill w-fit py-2 px-4 border border-red-200 flex gap-2 justify-start hover:border-red-300 hover:bg-red-50 hover:text-red-800 cursor-pointer rounded-lg overflow-hidden" (click)="removeSkill()">Remover Habilidade</button>
                <button type="button" class="relative skill ml-auto w-fit py-2 px-4 border border-green-200 flex gap-2 justify-start hover:border-green-300 hover:bg-green-50 hover:text-green-800 cursor-pointer rounded-lg overflow-hidden" (click)="clickSubmit()">Editar</button>
            } @else {
                <button type="button" class="relative skill ml-auto w-fit py-2 px-4 border border-slate-200 flex gap-2 justify-start hover:border-slate-300 hover:bg-slate-50 cursor-pointer rounded-lg overflow-hidden" (click)="clickSubmit()">Criar</button>

            }
        </div>

    </form>
</app-admin-page-card>